# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/tutorialJesusConde/nbproject/private/
/practica_09introjQuery/nbproject/private/
/practica10_JQSlider_form_gmap/nbproject/private/
/DAM_M04_16_17/nbproject/private/
/practica09_jquery/nbproject/private/
/practica11_jQDOM/nbproject/private/
/practica12_SINTESIS/nbproject/private/
/practica12_SINTESIS_LLMM/nbproject/private/
/practica12_SINTESIS_LLMM_1/nbproject/private/
/practica13_XML/nbproject/private/
/practica14_DTD/nbproject/private/
/practica15_XSD/nbproject/private/
/proyecto_copia/nbproject/private/